{{{mapUse "common-djy-pc:/partials/right_cms_tool/right_cms_tool.less"}}}
{{#if config.commonCmsDataNew.right-ad.id}}
    <div class="common-right-pack buzz-out">   
        <a
            {{#if config.commonCmsDataNew.right-ad.linkId}}data-link="{{config.commonCmsDataNew.right-ad.linkId}}"{{/if}}
            {{#eq config.commonCmsDataNew.right-ad.target 8}}target="_blank"{{/eq}}
            href="{{config.commonCmsDataNew.right-ad.link}}"
            title="{{config.commonCmsDataNew.right-ad.title}}"
            >
            <img src="{{config.commonCmsDataNew.right-ad.imgUrl}}" alt="{{config.commonCmsDataNew.right-ad.alt}}">
        </a>
    </div>
{{/if}}
{{#content "js" mode="append"}}
<script type="text/javascript">
seajs.use('common-djy-pc:/partials/right_cms_tool/right_cms_tool.less');
</script>
{{/content}}